
<!-- First card -->
<div class = "card">
  <div class = "card-body panel-0 rounded">
      <!-- Sub-content-1 -->
      <div class = "d-flex justify-content-between">
          <!-- Title and description -->                  
          <div class = "header">
              <h5>
                  <span><i class = "bi bi-stoplights"></i></span>
                  <span class = "fw-bold"> {{ parentData.headerTitle }} </span>
                  <p> {{ parentData.headerDescription }} </p>
              </h5>
          </div>
          <!-- Add a new data -->
          <div class = "header">
              <button class = "btn btn-outline-light float-right fw-bold" data-bs-toggle = "modal" data-bs-target = "#addEditModal" data-bs-backdrop = "static" data-bs-keyboard = "false" (click) = "addClick()">
                  <span><i class = "bi bi-plus"></i></span>
                  <span> {{ parentData.headerBtn }} </span> 
              </button>
          </div>
      </div>
  </div>
</div>
  
<!-- Second card -->
<div class = "card">
  <div class = "card-body">
    <!-- Table -->
    <table class = "table">
        <thead class = "pl-4">
          <tr>
            <th class = "text-center"> # </th>
            <th> Name </th>
            <th> Phone </th>
            <th> Email </th>
            <th> Trip </th>
            <th class = "text-center"> Actions </th>
          </tr>
        </thead>
        <br/>
        <tbody *ngFor = "let driverData of driversList">
          <tr>
            <td class = "text-center"> {{ driverData.id }} </td>
            <td> {{ driverData.name | titlecase }} </td>
            <td> {{ driverData.phone }} </td>
            <td> {{ driverData.email  }} </td>
            <td> {{ driverData.trip | titlecase }} </td>
            <td class = "text-center">
              <button class = "btn btn-danger mr-2" data-bs-toggle = "modal" data-bs-target = "#deleteModal" data-bs-backdrop = "static" data-bs-keyboard = "false" (click) = "deleteClick(driverData)">
                <i class = "bi bi-trash"></i>
              </button>
              <button class = "text-light btn btn-info" data-bs-toggle = "modal" data-bs-target = "#addEditModal" data-bs-backdrop = "static" data-bs-keyboard = "false" (click) = "editClick(driverData)">
                <i class = "bi bi-pencil"></i>
              </button>
            </td>  
          </tr>
          <br/>
        </tbody>
      </table>
    </div>
</div>
  
  <!-- Modals -->
  
  <!-- AddEdit Modal -->
  <div class = "modal fade" id = "addEditModal">
    <div class = "modal-dialog modal-dialog-centered">
      <div class = "modal-content container">
      
        <!-- Modal Header -->
        <div class = "modal-header">
          <h5 class = "modal-title">
            <span><i class = "bi bi-flag"></i></span>
            <span> {{ modalTitle }} </span> 
          </h5>
          <button type = "button" class = "btn-close" data-bs-dismiss = "modal" (click) = "closeClick()"></button>
        </div>
        
        <!-- Modal body -->
        <div class = "modal-body">
          <app-add-edit-driver [driver] = "driver" *ngIf = "ActivateAddEditDriverComp"></app-add-edit-driver>
        </div>
        
      </div>
    </div>
  </div>
  
