<!-- Sidebar -->

<div class = "container">

    <div class = "sidebar rounded">

        <!-- Search bar -->
        <div class = "input-group">
            <input type = "text" class = "form-control" placeholder = "Search">
        </div>

        <!-- aside menu -->
        <ul class = "up-menu">
            <li>
                <a routerLink = "/dashboard" routerLinkActive = "active">
                    <span><i class = "bi bi-border-all"></i></span>
                    <span> Dashboard </span>
                </a>
            </li>
            <li>
                <a routerLink = "/stations">
                    <span><i class = "bi bi-flag"></i></span>
                    <span> Stations </span> 
                </a>
            </li>
            <li>
                <a routerLink = "/fleets">
                    <span><i class = "bi bi-diagram-3"></i></span>
                    <span> Fleets </span>
                </a>
            </li>
            <li>
                <a routerLink = "/drivers">
                    <span><i class="bi bi-stoplights"></i></span>
                    <span> Drivers </span>
                </a>
            </li>
            <li>
                <a routerLink = "/passengers">
                    <span><i class = "bi bi-person-bounding-box"></i></span>
                    <span> Passengers </span>
                </a>
            </li>
            <li>
                <a routerLink = "/trips">
                    <span><i class = "bi bi-cursor"></i></span>
                    <span> Trips </span>
                </a>
            </li>
        </ul>

    </div>

</div>
